body{
  background-image: url("images/water_color_bg.jpg");
  /* background-image: url("images/chris.jpg"); */
  min-height: 100%;
  /* Center and scale the image nicely */
  height:100%;
  margin:0;
  /*background-position: center;*/
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
}
#button{
  background-color:#115486;
  color:white;
  border-color: white;
  border-radius:10px;
  padding: 10px;
  margin-left:40px;
  margin-top:6px;
}
#button:hover{
  background-color:white;
  color:#115486;
  border-color: #115486;
}
#uname{
  width: 170px;
  height: 15px;
  padding: 10px;
  border: none;
  box-shadow: 0 5px 80px 22px #888888;
}
#pass{
  width: 170px;
  height: 15px;
  padding: 10px;
  border: none;
}
label{
  font-size: 20px;
  text-align: center;
}
form{
  border-radius: 15px;
  margin-top: 150px;
  background-image: url("images/chris.jpg");
  /* min-height: 380px; */
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  /* border: solid 1px;
  border-color: lightgreen; */
  width: 50%;
  /* margin:50%; */
  /* height: 200px; */
  padding:50px;
  /* box-shadow: 5px 10px 18px black; */
  box-shadow: 0 5px 80px 22px #888888;
}

#eye1{
  display: none;
}
#eye2{
  display: block;
}
.fa{
  margin-right: 10px;
}
footer{
  color: #888888;
  text-align: center;
  margin-top: 50px;
}

#idIcon,#passIcon{
  inline-size: 20px;
  margin-right: 5px;
}
